#container{
    width: 100%;
}

#shop1div{
    margin-top: 20%;
}

#jawaban1div{
    margin-top: 11%; 
}

#healthbardiv{
    height: 10%;
}

#healthmonster{
    margin-right: 7%;
    float: right;
    
}

#skipdiv{
    margin-left: 32%;
    width: 30%;
}

#skip{
    text-align: center;
}

#timediv{
    margin-left: 2%;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

#pause{
    width: 150%;
    margin-top: 10%;
    background: rgb(101, 67, 33);
}

#resume{
    width: 150%;
    margin-top: 10%;
    background: rgb(101, 67, 33);
}

#wizarddiv{
    /* float: left; */
}

#monsterdiv{
    /* float: right; */
}

#questiondiv{
    text-align: center;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    height: 35%;
}

#avatar{
    height: 25%;
    align-items: flex-end;
}

#wizard{
    height: auto;
    max-width: 100%;
    float: left;
}

#monster{
    height: auto;
    max-width: 100%;
    float: right;
}

#health_bar_div{
}

#shop{  
    background-image: url('/image/border.jpg');   
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 50%;
    float: left;
    background-color : green;
}

#jawaban{
    background-image: url('/image/border.jpg');   
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 50%;
    float: left;
    background-color: lightblue; 
}

#display{
    background-image: url('/image/background_game.jfif');
    width: 70%;
    height: 100%;
    float: right;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    color: #fff;
}

.choice-container{
    display: flex;
    margin-right: 15%;
    margin-left: 10%;
    margin-bottom: 2%;
    
    width: 75%;
    border-radius: 4px;
    background: rgb(101, 67, 33);
    font-size: 30;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem rgba(255, 71, 45, 0.4);
    transform: scale(1.02);
    transform: tranform 100ms;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text{
    padding: 2rem;
    width: 100%
}

.correct{
    background-color: linear-gradient(32deg, rgba(11, 223, 36)0%, rgb(41, 232, 11)100%);
}

.incorrect{
    background-color: linear-gradient(32deg, rgba(230, 29, 29, 1)0%, rgb(223, 11, 11, 1)100%);
}

/* Heads Up Display */
#hud{
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

@media screen and (max-width: 768px){
    .choice-container{
        min-width: 40rem;
    }
}